
$text-color: #5A7184
$dark: #0D2436
$subtitle-color: #183B56
$light: #ffffff
$blue: #1565D8
$gray: #959EAD
$green: #36B37E

$ff-title: 'Roboto', sans-serif
$ff-base: 'Open Sans', sans-serif

$fs-title: 48px
$fs-base: 18px
//размер шрифта для мелких титлов и кнопок
$fs-subtitle: 36px

@mixin text-base
  font-family: $ff-base
  font-size: $fs-base
  font-style: normal
  font-weight: normal
  line-height: 32px
  color: $text-color

@mixin title
  font-family: $ff-title
  font-style: normal
  font-weight: bold
  line-height: 60px
  font-size: $fs-title
  color: $light

@mixin subtitle
  font-family: $ff-title
  font-size: $fs-subtitle
  color: $subtitle-color
  font-style: normal
  font-weight: bold
  line-height: 48px
  letter-spacing: 0.2px

@mixin subtitle-card
  font-family: $ff-title
  font-style: normal
  font-weight: bold
  font-size: $fs-subtitle
  line-height: 48px
  letter-spacing: 0.2px
  color: $light

@mixin box__title
  font-family: $ff-title
  font-style: normal
  font-weight: bold
  font-size: 31px
  line-height: 48px
  letter-spacing: 0.2px
  color: $subtitle-color

@mixin border
  border-radius: 16px
  border: none

@mixin shadow
  filter: drop-shadow(0px 20px 50px rgba(15, 24, 44, 0.15))
@mixin img-cover
  object-fit: cover
