.news-bottom
  margin-top: -133px
  height: 100px
  position: relative
  background-image: url(../img/bottom.svg)
  background-repeat: no-repeat
  background-size: 100%
  background-position: top
  height: 230px
  z-index: 0
